
<footer class="footer">
    <div class="footer-main">
        <div class="footer-main-inform">
            <h3 class="footer-main-inform__title">Education</h3>
            <p class="footer-main-inform__description">
                <ul class="footer-main__information">
                    <li class="footer-main__inform__link">
                        <span class="footer-main__second-desc"><a href="#" >Process</a></span>
                    </li>
                    <li class="footer-main__inform__link">
                        <span class="footer-main__second-desc">
                <a href="#" >Courses</a></span>
                    </li>
                    <li class="footer-main__inform__link">
                        <span class="footer-main__second-desc"><a href="#" >Teachers</a></span>
                    </li>
                    <li class="footer-main__inform__link">
                        <span class="footer-main__second-desc"><a href="#" >Questions</a></span>
                    </li>
                    <li class="footer-main__inform__link">
                        <span class="footer-main__second-desc"><a href="#" >Price</a></span>
                    </li>
                </ul>
        </div>
        <div class="footer-main-inform">
            <h3 class="footer-main-inform__title">GoAhead</h3>
            <ul class="footer-main__information">
                <li class="footer-main__inform__link">
                    <i class="icon-check footer-main__second-icon"></i>
                    <span class="footer-main__second-desc"><a class="link" href="#" >About school</a></span>
                </li>
                <li class="footer-main__inform__link">
                    <i class="icon-check footer-main__second-icon"></i>
                    <span class="footer-main__second-desc">
            <a href="#" >For teachers</a></span>
                </li>
                <li class="footer-main__inform__link">
                    <i class="icon-check footer-main__second-icon"></i>
                    <span class="footer-main__second-desc"><a href="#" >Career in our school</a></span>
                </li>
                <li class="footer-main__inform__link">
                    <i class="icon-check footer-main__second-icon"></i>
                    <span class="footer-main__second-desc">
            <a href="#" >Afiliate program</a></span>
                </li>
                <li class="footer-main__inform__link">
                    <i class="icon-check footer-main__second-icon"></i>
                    <span class="footer-main__second-desc">
            <a href="#" >Reviews</a></span>
                </li>
            </ul>
        </div>
        <div class="footer-main-inform">
            <h3 class="footer-main-inform__title">Contact details</h3>
            <ul class="footer-inform__contacts">
                <li class="footer-inform__contact">
                    <i class="footer-inform__third-icon icon-phone"></i>
                    <span class="footer-inform__third-desc"><a href="#">
                Signed up for introductory lesson</a></span>
                </li>

                <li class="footer-inform__contact">
                    <i class="footer-inform__third-icon icon-phone"></i>
                    <span class="footer-inform__third-desc"><a href="#">
            Addresses and Phones</a></span>
                </li>
                <li class="footer-inform__contact">
                    <i class="footer-inform__third-icon icon-envelope"></i>
                    <span class="footer-inform__third-desc"><a href="#">Give a certificate</a></span>
                </li>
                <li class="footer-inform__contact">
                    <i class="footer-inform__third-icon icon-location4"></i>
                    <span class="footer-inform__third-desc"><a href="#">Study plan</a></span>
                </li>
                <li class="footer-inform__contact">
                    <i class="footer-inform__third-icon icon-location4"></i>
                    <span class="footer-inform__third-desc"><a href="#">Study plan</a></span>
                </li>
                <li class="footer-inform__contact">
                    <i class="footer-inform__third-icon icon-location4"></i>
                    <span class="footer-inform__third-desc"><a href="#">Webinar for motivation</a></span>
                </li>
            </ul>
        </div>
    </div>
</footer>